h1{
    font-size: 4em;
    font-weight: 900;
    opacity: 1;
    color:rgba(255, 255, 255, 1);
    text-shadow: black 0em 0em 1em;
    font-family: 'Cabin Sketch', cursive;
}
.tekstStopka{
    font-family: 'Cabin Sketch', cursive;
    font-size:4em;
    color:#620679;
}
.tekstStopkaONas{
   margin: 1em 1em;
   text-align: justify;
   text-justify: inter-word;
}
.szareTlo{
    background:#d9d9d9;
    color:#000;
}

.view {
    background: url("../tlo.jpg")no-repeat center center;
    background-size: cover;
}
    
.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: rgb(116, 22, 170);
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgb(116, 22, 170);
    }
}

.feature-box-section {
    padding-top:60px;
    padding-bottom:60px;
    background:#d9d9d9;

}
.feature-col-box {
    margin-bottom: 50px;
}
.mb-52 {
    margin-bottom: 52px;
}
.feature-box-icon {
    background: #8410c7 none repeat scroll 0 0;
    border-radius: 50%;
    height: 70px;
    line-height: 87px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 70px;
    float: left;
}
.feature-box-icon i {
    color: #fff;
    font-size: 35px;
    text-align: center;
    transition: all 0.3s ease 0s;
}

.feature-list-text {
    margin-left: 85px;
}
.features-left-img img {width:100%;}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #701b8a;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #620679 !important;
 
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}


/*BOX HOVER*/
.box{
    text-align: center;
    overflow: hidden;
    position: relative;
}
.box:after{
    content: "";
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0,0,0,0.4) ,rgba(0,0,0,0.9) 75%);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(2);
    transition: all 0.3s ease-out 0s;
}
.box:hover:after{
    opacity: 1;
    transform: scale(1);
}
.box img{
    width: 100%;
    height: auto;
}
.box .box-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.box .inner-content{
    padding: 7px 0;
    text-align: right;
    position: absolute;
    bottom: 5px;
    left: 15px;
}
.box .title{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.2s ease 0s;
}
.box .post{
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    color: #f44178;
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.2s ease 0s;
}
.box:hover .title,
.box:hover .post{
    opacity: 1;
    transform: translateX(0);
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(270deg);
    transition: all 0.3s ease 0s;
}
.box:hover .icon{
    opacity: 1;
    transform: translateX(-50%) translateY(-50%) rotate(0);
}
.box .icon li{
    display: inline-block;
    margin: 0 5px;
}
.box .icon li a{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    background: #f44178;
    border: 2px dotted transparent;
    border-radius: 50%;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    transform: rotate(360deg);
    position: relative;
    transition: all 0.3s ease 0s;
}
.box .icon li a:hover{
    text-decoration: none;
    background: #fff;
    color: #f44178;
    border: 2px dotted #f44178;
    transform: rotate(0);
}
@media only screen and (max-width:990px){
    .box{ margin-bottom: 30px; }
}










.marginUD{
    margin: 2em auto;
}

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: rgba(180, 50, 255, 0.1);
  stroke-width: 1;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 13s infinite linear;
  animation: stroke 13s infinite linear;
  font-family: 'Cabin Sketch', cursive;
}
.text:nth-child(5n + 1) {
  stroke: #f8ed8c;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n + 2) {
  stroke: #e2caa6;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n + 3) {
  stroke: #f7d6a4;
  -webkit-animation-delay: -7.2s;
  animation-delay: -7.2s;
}
.text:nth-child(5n + 4) {
  stroke: #dbbe91;
  -webkit-animation-delay: -9.6s;
  animation-delay: -9.6s;
}
.text:nth-child(5n + 5) {
  stroke: #fff782;
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
/* Other styles */


.bodyy {
 
  font: 3em Open Sans, Impact;
  text-transform: uppercase;
  max-height:60px;
}

svg {
  width: 100%;
  max-width:300px;
  height: 100%;
  
}
ul{
    padding:1em 2em;
}
.nav-link{
    padding: auto 1em;
}
.nav-item{
    padding: 0em 1em;
}



@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);



.text {
  position: absolute;
  left: 50%;
  margin-left: -225px;
}

.text p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-size: 2em;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 600;
}

.word {
  position: absolute;
  width: 250px;
  opacity: 0;
  padding-left:0.2em;}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #ffe292;
}

.belize {
  color: #fde82d;
}


.drugiBoks{
    font-size:3em;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    background:#d9d9d9;
    color:#701b8a
}
.pierwszyBoks{
    font-size:3em;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
    color:#701b8a
}
.outRightPadding{
    padding-right:0;
}
.fa-2x{
    float:right;
}
.ludek{
    max-width:18em;
}